# Server port number
PORT=3000

# MongoDB Connection String (Atlas format)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/financeflow?retryWrites=true&w=majority

# Secret key for JWT signing & verification
JWT_SECRET=finance-flow-secret-key-2026

# Environment (development or production)
NODE_ENV=development

# URL of the client application (Frontend)
CLIENT_URL=http://localhost:3000
